html {
  font-size: 62.5% !important;
}
* {
  box-sizing: border-box;
}
body {
  height: fit-content;
  background: #fffaf5;
  line-height: 100%;
}
a {
  display: block;
  text-decoration: none;
}
/*============= Common =============*/
.content {
  width: 1170px;
  margin: 0 auto;
  font-family: "Poppins";
}
.section__title--small {
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.btn {
  --height: 56px;
  height: var(--height);
  cursor: pointer;
  line-height: var(--height);
  width: 193px;
  color: #ff5b2e;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 100% */
  border: 0;
  padding: 0;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  background-color: transparent;
}
.btn--orange {
  background: #ff5b2e;
  color: #fff;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
img {
  object-fit: cover;
  display: block;
}
.section__title {
  color: #000958;
  font-family: "Sora";
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 119%; /* 119.231% */
}
.section__desc {
  color: #656689;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%; /* 187.5% */
  margin-top: 24px;
}
.section__desc--small {
  font-size: 1.4rem;
}
.section__title--question {
  text-align: center;
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.line-clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-count);
}
.line-2 {
  --line-count: 2;
}
.line-3 {
  --line-count: 3;
}
/*=============  Header =============*/

.header {
  padding: 8px 0px;
  margin-top: 18px;
  position: sticky;
  background: #fffaf5;
  z-index: 99;
  top: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icon {
  width: 103px;
  height: 37.175px;
  object-fit: cover;
}
.header__nav {
}
.nav {
}
.l-nav {
  display: flex;
}
.nav__item a {
  padding: 10px 18px;
  color: #5e6085;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.nav__item a:hover {
  text-shadow: 1px 0 0 #5e6085;
}
.header__btn {
  color: #000958;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 600;
  --height: 50px;
  width: 117px;
  border-radius: 25px;
  border: 1px solid #000958;
}
.header__btn:hover {
  opacity: 0.7;
  box-shadow: none;
}
.btn {
}

/*============= Hero =============*/
.hero {
  padding: 92px 0px 0px;
}
.hero .content {
  display: flex;
  gap: 120px;
}
.hero__imgs {
  position: relative;
  flex-shrink: 0;
  width: 47%;
  padding-bottom: 94px;
}
.hero__imgs-left {
  position: relative;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  background: #fe997b;
  border: 2px solid rgb(253, 224, 226);
}
.hero__imgs-wrapper {
  display: flex;
  align-items: flex-end;
  width: 186px;
  height: 244px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  top: 302px;
  background: #faa7ad;
  border: 2px solid rgb(253, 224, 226);
}
.hero__imgs-right {
  object-fit: contain;
}
.hero__imgs-circle {
  z-index: -1;
  position: absolute;
  width: 230px;
  height: 230px;
  left: -58px;
  top: 247px;
}
.hero__imgs-rectangle {
  z-index: -1;
  position: absolute;
  width: 230px;
  height: 230px;
  left: 377px;
  width: 50.346px;
  height: 100.83px;
  top: 17px;
}
.l-hero-services {
  position: absolute;
  bottom: 0;
  left: 129px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  width: 250px;
}
.c-hero-services {
  position: relative;
  padding: 20px 17px;
  display: flex;
  gap: 8.62px;
}
.c-hero-services:not(:last-child)::after {
  content: "";
  display: block;
  width: calc(100% - 34px);
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
}
.c-hero-services__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: block;
}
.c-hero-services:first-child .c-hero-services__img {
  background: #fec23f;
}
.c-hero-services:last-child .c-hero-services__img {
  background: #6597c2;
}
.c-hero-services__content {
  flex: 1;
}
.c-hero-services__title {
  color: #181e52;
  font-family: "Sora";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.c-hero-services__desc1 {
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
  margin-top: 7px;
}
.c-hero-services__desc2 {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
  margin-top: 6px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 115%; /* 115.152% */
}
.hero__desc {
  margin-top: 24px;
  max-width: 391px;
}
.hero__cta-groups {
  margin-top: 38px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.hero__book-btn {
  --height: 60px;
  width: 189px;
  display: flex;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.hero__book-btn span {
  display: block;
}
.round-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
}
.hero__book-btn img {
  display: block;
  width: 10px;
  height: 10px;
}
.hero__call-btn {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%; /* 100% */
}
.hero__call-btn:hover {
  text-decoration-line: underline;
}
/*============= About =============*/
.about {
  padding: 53px 0px;
  margin-bottom: 130px;
}
.about .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 130px;
}
.about__content {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about__title {
  max-width: 446px;
}
.about__desc {
  max-width: 431px;
  margin-top: 24px;
}
.l-achieve {
  margin-top: 57px;
  display: grid;
  column-gap: 36px;
  row-gap: 34px;
  grid-template-columns: auto auto;
  justify-content: flex-start;
}
.c-achieve {
  display: flex;
  gap: 10px;
}
.c-achieve__checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff5d31;
  overflow: hidden;
}
.c-achieve__checkbox svg {
  position: absolute;
  transform: translate(-12px, -8px);
}
.c-achieve__content {
  display: inline-block;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  line-height: 100%; /* 100% */
}
.about__img-layout {
  border-radius: 16px;
}
.about__img-layout {
  position: relative;
}
.about__img {
  height: 551px;
  object-fit: contain;
}
.about__img-wrapper {
  display: flex;
  justify-content: center;
}
.about__decor {
  position: absolute;
  top: 149px;
  right: -50px;
}
.about__footprint {
  z-index: 4;
  position: absolute;
  top: 118px;
  left: 85px;
}
.about__media {
  margin-left: 92px;
  position: relative;
}
.about__img-background {
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
  height: 60%;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.about__experience {
  position: absolute;
  top: 157px;
  left: 0px;
  width: 136px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  padding: 30px 25px;
}
.about__experience strong {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
}
.about__experience em {
  display: block;
  color: #c6f4f9;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%; /* 142.857% */
  margin-top: 14px;
}
/*============= features =============*/

.features__img {
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  width: 458px;
  height: 500px;
}
.features__figure {
  margin-top: 16px;
  display: inline-block;
  position: relative;
}
.features__decor {
  position: absolute;
}
img.features__decor:nth-of-type(2) {
  top: 13px;
  right: 63px;
}
img.features__decor:nth-of-type(3) {
  top: -16px;
  right: 13px;
}
img.features__decor:nth-of-type(4) {
  top: 33px;
  right: -21px;
}
img.features__decor:nth-of-type(5) {
  top: 268px;
  right: -30px;
}
img.features__decor:nth-of-type(7) {
  bottom: -54px;
  right: -42px;
}
.c-feature {
  display: none;
}
.c-feature--active {
  display: block;
}
.features__title {
  margin-top: 52px;
}
.features__desc {
  margin-top: 24px;
  max-width: 511px;
}
.t-features {
  position: relative;
  margin-top: 52px;
  display: inline-flex;
  gap: 56px;
}
.t-features::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  opacity: 0.07;
  background: #ff5b2e;
  width: 100%;
  bottom: 0px;
}
.t-features__item--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 95px;
  height: 2px;
  background: #ff5b2e;
  bottom: 0px;
  left: 0;
}
a.t-features__item:nth-of-type(2):hover .t-features {
  opacity: 0;
  background: #000;
}
/* a.t-features__item:nth-of-type(2):hover .t-features::before {
  height: 5px;
  left: calc(100% / 3);
} */
.t-features__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}
.t-features__item img {
  width: 20px;
  height: 20px;
}
.t-features__item span {
  display: inline-block;
  margin-left: 10px;
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.features__title--small {
  margin-top: 36px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 171.429%; /* 171.429% */
  max-width: 391px;
}
.features__more {
  margin-top: 32px;
  cursor: pointer;
  display: inline-block;
  color: #ff5d31;
  font-family: Poppins;
  font-size: 1.6rem;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 100% */
}
.features__more::after {
  content: "";
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 1.5px;
  background: #ff5d31;
}

/*============= Services =============*/

.services {
  padding: 68px 0px 100px;
  background: #fff6ed;
}
.services .content {
}

.services__title {
  margin-top: 15px;
  text-align: center;
}
.l-services {
  margin-top: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 24px;
  column-gap: 65px;
}
.c-services {
  width: 294px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  padding: 30px 25px;
}
.l-services__col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-services + .c-services {
  margin-top: 24px;
}
.c-services__name {
  position: relative;
  padding-left: 12px;
}
.c-services__name::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 2px;
  height: 100%;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e 0%, #ffa187 100%);
  inset: 0 auto auto 0;
}
.c-services__content {
  margin-top: 18px;
  line-height: 24px;
}
.c-services__readmore {
  margin-top: 24px;
}
.col-center {
  grid-area: 1 / 2 / span 3 / span 1;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.l-services__figure {
  margin-top: 18px;
  position: relative;
  display: inline-block;
}
.l-services__figure img {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
}
.l-services__figure-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: calc(100% - 36px);
  margin: 0 auto;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}
.c-services__readmore {
  display: inline-block;
  color: #34396a;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%; /* 100% */
}
.c-services__readmore::after {
  content: url("../img/arrow-up-right.svg");
  display: inline-block;
  margin-left: 6px;
  transform: translateY(2px);
}
.c-services__readmore:hover {
  text-decoration: underline;
}
.services__view-all {
  min-width: 214px;
  margin: 45px auto -15px;
}

/*============= Staff =============*/

.staffs {
  padding: 130px 0;
}
.staffs .content {
  display: flex;
  flex-direction: column;
}
.staffs__subtitle {
  margin: auto;
  display: block;
  text-align: center;
}
.staffs__tittle {
  display: block;
  text-align: center;
  margin-top: 15px;
}
.l-staffs {
  margin-top: 45px;
  display: flex;
  gap: 35px;
}
.c-staffs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-staffs__figure {
  position: relative;
  margin: 0px 16px;
}
.c-staffs__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 299px;
  border-radius: 129.5px;
}
.c-staffs__background {
  --background-color: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
  display: block;
  width: 234px;
  height: 94%;
  border-radius: 129.5px;
  background: var(--background-color);
}
li.c-staffs:nth-of-type(2) .c-staffs__background {
  --background-color: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
li.c-staffs:nth-of-type(3) .c-staffs__background {
  --background-color: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
li.c-staffs:nth-of-type(4) .c-staffs__background {
  --background-color: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.c-staffs__decor {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
li.c-staffs:nth-child(even) .c-staffs__decor {
  top: 0;
}
.c-staffs__position {
  margin-top: 34px;
}
.c-staffs___name {
  margin-top: 14px;
}
.staffs__view-all {
  margin: 48px auto 0px;
}

/*============= Pricing Pack =============*/

.pricing {
  background: #fff6ed;
  padding: 86px 0px;
}
.pricing__title {
  text-align: center;
}
.pricing__desc {
  text-align: center;
  width: 709px;
  margin: auto;
}
.pricing_row {
  display: flex;
  justify-content: center;
}
.pricing__toggle {
  margin-top: 38px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 276px;
  height: 56px;
  line-height: 56px;
}

.pricing__toggle label,
.toggle-bg {
  z-index: 4;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 0;
  display: block;
  border-radius: 31px;
  background: transparent;
  width: 131px;
  cursor: pointer;
  height: 56px;
}

.pricing_toggle-month {
  left: 0;
}
.pricing__toggle-year {
  right: 0;
}
input[value="yearly"]:checked ~ div:first-of-type {
  top: 0;
  right: 0;
  left: auto;
}
input[type="radio"]:checked + label {
  color: #fff;
}
.pricing__toggle--active {
  display: block;
  color: white;
}

.toggle-bg {
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  background: #ff5b2e;
  transition: left 0.3s ease-out;
}

input[type="radio"]:checked {
}
div.pricing__toggle:has(
    > .pricing__toggle--month.pricing__toggle--active
  )::after {
  left: 0;
}
.pricing__toggle:hover {
  box-shadow: none;
}
.pricing_toggle-month {
}
.pricing__toggle-year {
}
.pricing__sales {
  position: absolute;
  top: -10px;
  left: 300px;
  width: 87px;
  height: 37px;
  object-fit: cover;
}
.l-services-packs {
  display: flex;
  margin-top: 56px;
  padding: 0px 88px;
  gap: 44px;
}
.c-services-pack {
  padding: 30px 28px 43px;
  flex: 1;
  border-radius: 20px;
  background: #fff;
}
.c-services-pack__type {
  color: #ff5b2e;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%; /* 100% */
}
.c-services-pack__level {
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  margin-top: 8px;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.c-services-pack__price {
  display: block;
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 103.03%; /* 103.03% */
  margin-top: 24px;
}
.c-services-pack__btn {
  margin-top: 22px;
  border-radius: 39px;
  display: block;
  width: 100%;
  --height: 44px;
}
.c-services-pack__btn:hover {
  background: #ff5b2e;
  color: white;
}
.c-services-pack--active {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}
.l-services-pack {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.l-services-pack__item {
  display: flex;
  align-items: center;
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
}
.l-services-pack__item--bold-check::before {
  display: inline-block;
  margin-right: 12px;
  content: url(../img/bold-check.svg);
}
.l-services-pack__item--light-check::before {
  display: inline-block;
  margin-right: 12px;
  content: url(../img/ligh-check.svg);
}
/*============= Reviewer =============*/

.reviews {
  background: #fffaf5;
  padding: 53px 0 100px;
}
.reviews .content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.reviews__prebtn,
.reviews__nextbtn {
  cursor: pointer;
  color: #ff5b2e;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px solid #ffd1c4;
}

.reviews__prebtn:hover,
.reviews__nextbtn:hover {
  background-color: #ff5b2e;
  border-color: #ff5b2e;
  box-shadow: 0 0 50px 1px #ff5b2e;
}
.reviews__prebtn:hover svg,
.reviews__nextbtn:hover svg {
  color: #fff;
}
.reviews__figure {
  position: relative;
  margin-left: 44px;
}
.reviews__figure-img {
  display: block;
  position: relative;
  z-index: 1;
  width: 274px;
  height: 427px;
  border-radius: 137px;
}
.reviews__figure-bg {
  position: absolute;
  width: 100%;
  height: 82%;
  z-index: 0;
  border-radius: 137px;
  background: #ffda54;
  bottom: 0;
  left: 0;
}
.l-reviews {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.c-review {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  transition: 0.5s ease-out;
}
.reviews__content {
  padding: 113px 76px 0px 115px;
}
.reviews__title {
}
.reviews__bquotes {
  display: block;
  margin-top: 24px;
  color: #000;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
}
.reviews__author {
  margin-top: 34px;
  color: #282828;
  display: flex;
  align-items: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 100% */
}
.reviews__author::before {
  content: " ";
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 2px;
  background: #000;
}
.carousel-control {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.carousel-control__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
  cursor: pointer;
}
.carousel-control__dot:hover {
  background: #ff5b2e;
}
.carousel-control__dot--active {
  width: 24px;
  border-radius: 5px;
  background: #ff5b2e;
  cursor: default;
}
/*============= Blog =============*/
.blog {
  padding-top: 30px;
  padding-bottom: 130px;
}
.blog .content {
}
.blog-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 73px;
}
.blog__title {
  margin-top: 0;
}
.blog__info {
}
.blog__desc {
  max-width: 350px;
  margin-top: 0;
}
.blog__view-all {
  margin-top: 24px;
  width: 182px;
}
.l-blogs {
  margin-top: 54px;
  display: flex;
  gap: 48px;
}
.l-blogs li {
  flex: 1;
}
.c-blog {
}
.c-blog__img-layout {
  padding-top: 24px;
  padding-left: 36px;
}
.l-blogs > li:first-child .c-blog__img-layout {
  border-radius: 24px;
  background: #90ccff;
}
.l-blogs > li:nth-child(2) .c-blog__img-layout {
  border-radius: 24px;
  background: #ff997e;
}
.l-blogs > li:last-child .c-blog__img-layout {
  border-radius: 24px;
  background: #5bd6e2;
}
.c-blog__date {
  font-family: Sora;
  color: #fff;
  line-height: 121%;
}
.c-blog__thubnail {
  margin-top: 25px;
  width: 322px;
  height: 296px;
}
.c-blog__title {
  margin-top: 28px;
  line-height: 154%;
}
.c-blog__desc {
  line-height: 171%;
  margin-top: 16px;
}

/*============= Footer =============*/

.footer {
  background-image: linear-gradient(to right, #fff6ed 42%, transparent 42%);
}
.footer .content {
  display: flex;
}
.footer-aside {
  flex-shrink: 0;
  width: 42%;
  padding-top: 114px;
}
.footer-aside__logo {
  display: flex;
  align-items: center;
}
.footer-aside__logo img:first-child {
  width: 35px;
  height: 37.175px;
}
.footer-aside__logo img:last-child {
  width: 60px;
  height: 25px;
  margin-left: 8px;
}
.footer__email-form {
}
.footer__email-input {
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  background: #fff;
  width: 268px;
  height: 46px;
  padding: 16px 68px 16px 22px;
  color: #656689;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 116.667%; /* 116.667% */
  outline: none;
}
.footer__email-submit {
}
.footer__title {
  color: #000958;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 111.111%; /* 111.111% */
  margin-top: 68px;
}
.footer__content .footer__title {
  margin-top: 0;
  margin-bottom: 14px;
}
.footer__content {
  flex: 1;
}
.footer__category {
  padding: 52px 130px;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto;
  gap: 58px 137px;
}
.footer__cell {
}
.footer__email-form {
  margin-top: 35px;
  position: relative;
  display: inline-block;
}
.footer__email-submit.reviews__nextbtn {
  top: 0;
  right: -1px;
  position: absolute;
  background: #ff5b2e;
  color: white;
  border-color: #ff5b2e;
  width: 46px;
  height: 46px;
}
.footer__email-submit svg {
  top: 4px;
  left: 2px;
}
.footer__email-submit.reviews__nextbtn:hover {
  box-shadow: none;
}
.footer__item {
  margin-top: 8px;
}
.footer__item a {
  color: #656689;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 200%; /* 200% */
  white-space: nowrap;
}
.footer__copyright {
  color: #656689;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 1.2rem;
  padding: 0px 0px 48px 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}
.footer__social {
  display: inline-flex;
  gap: 16px;
  margin-top: 16px;
}
.footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex: 1;
  border-radius: 50%;
  background: #fff;
}
